.red {
  color: red !important;
}

.text {
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.item {
  margin-bottom: 5px;
}

.lstn {
  list-style-type: none;
}

.mt10 {
  margin-top: 10px;
}

.m5 {
  margin: 5px;
}