.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.container img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 1px solid #ddd; 
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 655px) {
  .container {
    width: 400px;
  }

  .header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 455px) {
  .container {
    width: 300px;
  }
}